.home-bg-container {
  width: 100vw;
  height: 100vh;
}
.link-text {
  margin-left: 10px;
  text-decoration: none;
  font-family: 'roboto';
}
.icon-prop {
  text-decoration: none;
  color: #616e7c;
}
.active-link {
  background-color: #616e7c;
  font-weight: bold;
}
.active-icon {
  color: red;
}
.contact-logo-container {
  display: flex;
  align-items: center;
  font-family: 'roboto';
  justify-content: space-evenly;
  width: 50%;
  align-self: flex-start;
}
.contact-logo {
  width: 30px;
}
.con-hea {
  font-size: 25px;
}
.con-par {
  font-size: 20px;
}
.logo {
  width: 100px;
}
.search-div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-search {
  width: 30%;
}
.search-icon {
  background-color: #e2e8f0;
  padding: 5px;
  font-size: 30px;
  padding-left: 10px;
  border: 0.5px solid #616e7c;
}
.retry-btn {
  color: white;
  padding: 15px;
  font-family: 'roboto';
  background-color: #00306e;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.empty-logo {
  width: 70%;
}

.p {
  margin: 5px;
}
.link-txt {
  text-decoration: none;
  color: 231f20;
}
