.profile-logo {
  width: 30px;
  height: 30px;
}
.theme-logo {
  width: 100px;
}
.icons-header {
  font-size: 25px;
}
.icons-container {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icons-light-header{
    font-size: 25px;
    color:white;
}